/* color variables */
:root {
    --light-grey:#b2b8bd;
    --dark-red:#8B351C;
    --light-red:#F24822;
    --white:#F6F6F6;
    --black:#0D0D0D;

}
body {
    font-family: 'Joan', serif;
    font-size: 120%;
    color: var(--light-grey);
    background-image: url(coffee-171653_1920.jpg);
    margin: 0;
    font-weight: 400;
}
h1, h2, h3, h4 {
    font-weight: 600;
}
header, main, footer {
    margin: 0;
}

/* buttons */
a.button {
    display: inline-block;
    width: auto;
    padding: 0.5em 1em;
    background-color: var(--light-red);
    border-radius: 1em;
    color: var(--light-grey);
    text-decoration: none;
    text-transform: uppercase;
}
a.button.primary {
    background-color: var(--light-red);
}

/* navbar styling */
#hero nav {
    display: flex;
    justify-content: space-between;
}
#hero nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
#hero nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a {
    color: var(--light-red);
}

/* Style the hero unit */
#hero-nav {
    grid-area: nav;
}
#sign-up-discount {
    grid-area: discnt;
}
#tagline {
    grid-area: tag;
}
#product {
    grid-area: prod;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". nav nav nav nav ."
    ". . discnt discnt . ."
    ". tag tag . . ."
    ". prod prod prod prod ."
    ;
}
#products {
    font-size: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax);
    column-gap: 2em;
}

/* other styles */
footer {
    color: var(--white);
    padding: 1em;
    background-color: var(--dark-red);
}

@media only screen and (min-width: width) {
    #hero {
        display: grid;
        grid-template-rows: 
        minmax(100px, auto)
        minmax(80px, auto)
        minmax(50vh, 60vh);
        grid-template-areas: 
        ". nav nav nav nav ."
        " discnt discnt discnt discnt discnt"
        ". tag tag . . ."
        ;
    }
    section#tagline {
        background-color: var(--dark-red);
    }
}
@media only screen and (min-width: 900px) {
    #hero {
        background-position: -500px 100px;
    }
}
@media only screen and (min-width: 1100px) {
    #hero {
        background-position: bottom left;
    }
}